form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;

  .login--title h1 {
    font-size: 26px;
    font-weight: 400;
    color: #18A4E1;
  }

  input {
    width: 100%;
    max-width: 370px;
    border-radius: 50px;
    border: 1px solid #ECF2F8;
    padding: 1rem 1.25rem;
  }

  p {
    font-size: 14px;
    color: #053354;
    font-weight: 400;
    padding-top: 1rem;
  }

  button {
    background-color: #053354;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: .75rem 1.25rem;
  }
}








