header {
  font-family: 'FiraGO', sans-serif;

  .top__header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .logo--container a {
      color: #FE2C52;
      text-decoration: none;
      font-size: 22px;
      font-weight: 500;
    }

    .menu--container {
      width: 50%;

      .navigation__menu--container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigation__menu--listItem {
          list-style: none;

          a {
            color: #053354;
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }

    .auth--container {
      background-color: #F0FAFF;
      padding: .5rem 1rem;
      border-radius: 25px;

      .auth--containerList {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          list-style: none;

          a {
            color: #053354;
            text-decoration: none;
          }

          span {
            color: #053354;
          }
        }
      }
    }
    .language--container {
      background-color: #F0FAFF;
      padding: .5rem;
      border-radius: 25px;

      a {
        color: #053354;
        text-decoration: none;
      }
    }
  }

  .bottom__header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECF2F8;
    height: 5rem;

    .info--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
    }

    .search--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
