.wrapper {
  background-color: #18A4E1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  h2 {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #ECF2F8;
    color: #053354;
    padding: .5rem .75rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FF2C52;
    height: 100%;
  }
}
