<div class="wrapper">
  <h2 class="title">კატეგორიები</h2>
  <ul>
    <li>
      <a href="">( 24 ) ანდროლოგი</a>
    </li>
    <li>
      <a href="">( 127 ) ანესთეზიოლოგი</a>
    </li>
    <li>
      <a href="">( 127 ) კარდიოლოგი</a>
    </li>
    <li>
      <a href="">( 127 ) კოსმეტოლოგი</a>
    </li>
    <li>
      <a href="">( 127 ) ლაბორანტი</a>
    </li>
    <li>
      <a href="">( 127 ) ოჯახის ექიმი</a>
    </li>
    <li>
      <a href="">( 127 ) პედიატრი</a>
    </li>
    <li>
      <a href="">( 127 ) ტოქსიკოლოგი</a>
    </li>
    <li>
      <a href="">( 127 ) ტრანსფუზილოგი</a>
    </li>
    <li>
      <a href="">( 127 ) გინეკოლოგი</a>
    </li>
    <li>
      <a href="">( 127 ) დერმატოლოგი</a>
    </li>
    <li>
      <a href="">( 127 ) ენდოკრინოლოგი</a>
    </li>
    <li>
      <a href="">( 127 ) გასტროენტეროლოგი</a>
    </li>
    <li>
      <a href="">( 127 ) თერაპევტი</a>
    </li>
  </ul>
</div>
