<footer>
  <div class="footer--container">
    <div class="logo--footer">
      <img src="assets/logo.png" alt="Logo Inc.">
      <h2>კლინიკა</h2>
    </div>
    <div class="information--footer">
      <ul>
        <li>ინფორმაცია</li>
        <li>ჩვენ შესახებ</li>
        <li>პარტნიორები</li>
        <li>ექიმებისთვის</li>
        <li>კლინიკებისთვის</li>
        <li>აფთიაქებისთვის</li>
      </ul>
    </div>
    <div class="forPatients--footer">
      <ul>
        <li>პაციენტებისთვის</li>
        <li>ექიმები</li>
        <li>კლინიკები</li>
        <li>ანოტაციები</li>
        <li>ბლოგი</li>
        <li>მედია</li>
      </ul>
    </div>
    <div class="contact--footer">
      <ul>
        <li>კონტაქტი</li>
        <li>სამუშაო დღეები: ორშ - პარ</li>
        <li>სამუშაო დრო: 9:00 - 17:00</li>
        <li>იაკობ ნიკოლაძე N10</li>
        <li>032 2 100 100</li>
      </ul>
    </div>
    <div class="follow--footer">
      <ul>
        <li>გამოგვყევით</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Youtube</li>
      </ul>
    </div>
  </div>

  <div class="copyright--container">
    <p>&copy; 2024 Clinic Management System</p>
  </div>
</footer>
